body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
}

.location {
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .location h2 {
            margin-top: 0;
        }

header {
            background-color: #00539C;
            color: white;
            padding: 20px;
            text-align: center;
            position: relative; /* Allows for absolute positioning of the logo */
        }
        
        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 50px; /* Adjust based on your logo's size */
            width: auto; /* Maintain aspect ratio */
        }
        
        h1 {
            margin: 0;
        }
        
header {
    background-color: #00539C;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00539C;
    color: white;
    position: relative; /* Change from fixed to relative or remove position */
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    background-color: #00539C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #003d73;
}
